

<div class="container">
  <%= render partial: 'messages/msg' %>
<h2 style="color: white;">Log in</h2><br>

 <%= form_tag "/login", method: :post do %>
  <div class="field">
    <p style="color:white"><%= label_tag :email %></p>
    <%= email_field_tag :email %>
  </div><br>

  <div class="field">
  <p style="color:white">  <%= label_tag :password %></p>
    <%= password_field_tag :password %>
  </div><br>

  <div class="actions">
    <%= submit_tag"Log in" %>
  </div>
  <br> <br>
<% end %>

<%= button_to "Log in with Google", "/auth/google_oauth2" %><br>
<%= link_to "Create an account", "/signup" %>

</div>
