<%= render partial: 'messages/msg' %>

<h1>My Reservations</h1><br>

<% if @reservations.empty? %>
  <h3>It seems you haven't booked any reservations yet :)</h3>
<% else %>

  <% if upcoming_reservations?(@user) %>
    <p>Upcoming:</p>
    <ul>
      <% @user.upcoming_reservations.each do |reservation| %>
        <li>
          <h3><%= link_to reservation.hotel.name, reservation_path(reservation) %></h3>
          <%= reservation.hotel.city.name %>
          <%= render 'reservations/info', :reservation => reservation %>
        </li>
      <% end %>
    </ul>
  <% end %>
 
  <% if previous_reservations?(@user) %>
    <p>Previous:</p>
    <ul>
      <% @user.previous_reservations.each do |reservation| %>
        <li>
          <h3><%= link_to reservation.hotel.name, reservation_path(reservation) %></h3>
          <%= reservation.hotel.city.name %>
          <%= render 'reservations/info', :reservation => reservation %>
        </li>
      <% end %>
    </ul>
  <% end %>

<% end %>

