
<%= form_with url: "/hotel_search", html: {class: "row g-4"}, method: :get do |f| %>
  <div class="col-sm-4">
    <%= f.label :city, "Search for:", :class => "form-label"%>
    <%= f.text_field :city, :class => "form-control searchName", :placeholder => "City name", list: "city_name" %>
    <datalist id="city_name">
    </datalist>
  </div>

  <div class="col-sm-4">
    <%= f.label :testing, "Select your dates:", :class => "form-label" %>
    <%= f.text_field :dates, :class => "form-control", id:"dates", data: {behavior: "daterangepicker" } %>
  </div>

  <div class="col-sm-2">
    <%= f.label :guests, "Guests:", :class => "form-label" %>
    <%= f.select(:guests, [1,2,3,4,5], {}, {class: "form-select"}) %>
  </div>

  <div id="search-button" class="col-sm">
      <%= f.submit "Search", class: "btn btn-secondary" %>
  </div>
<% end %>

<%= javascript_pack_tag 'city', 'data-turbolinks-track': 'reload' %>



