<div class="row">
  <h3><%= link_to hotel.name, "hotel_search/#{hotel.hotelId}" %></h3>
  <p>
    Guests: <%= hotel_guests(hotel, @user) %><br>
    Beds: <%= hotel_beds(hotel, @user) %><br>
    Price: <%= hotel_currency(hotel, @user) %> <%= hotel_price(hotel, @user) %>
  </p>
</div>