<div class="view" id="hotel-show">

  <%= render partial: 'messages/msg' %>

  <div class="box" id="hotel">
    <%= render partial: 'hotels/info', locals: { hotel: @hotel}  %>
  </div>

  <div class="box" id="reservations">
    <% if unbooked_reservation?(@user, @hotel) %>  
      <h3>Offer:</h3>
      <%= render partial: 'reservations/info_no_links', locals: { reservation: @user.unbooked_reservation(@hotel) } %><br>
      <a href="/reserve/<%= @hotel.hotelId %>/<%= reservation_code(@hotel, @user) %>">Reserve</a>
    <% elsif @single_reservation %>
      <h3>Reservation</h3>
      <p><%= upcoming_single_reservation?(@single_reservation) ? 'Upcoming' : 'Previous' %></p>
      <%= render partial: 'reservations/info', locals: {reservation: @single_reservation} %>
    <% else %>
      <h3>Reservations</h3>
      <% if upcoming_reservations?(@user, @hotel) %>
        <p>Upcoming:</p>
        <%= render partial: 'reservations/info', collection: @user.upcoming_reservations(@hotel), as: :reservation %>
      <% end %>
      <% if previous_reservations?(@user, @hotel) %>
        <p>Previous:</p>
        <%= render partial: 'reservations/info', collection: @user.previous_reservations(@hotel), as: :reservation %>
      <% end %>
    <% end %>
  </div>

  <div class="box" id="reviews">
    <h3>Reviews</h3>
    <div>
      <% @hotel.reviews.each do |review| %>
        <p>
          <%= review.reservation.user.username %><br>
          Posted on <%= review.creation_time %><br>
        </p>
        <blockquote class="blockquote">
          <%= review.description %>
        </blockquote>
      <% end %>  
    </div>
  </div>

</div>