<%= render partial: 'messages/msg' %>

<h1>My Reviews</h1><br>

<% if @user.open_for_review_reservations != [] && @user.open_for_review_reservations != nil %>
  <p>You have open for review reservations: <%= link_to "New Review", new_review_path %></p><br>
<% elsif @reviews.empty? %>
  <p>You don't currently have open for review reservations. Reviews open one day after a reservation's checkout date.</p><br>
<% end %>

<% if !@reviews.empty? %>
  <ul>
    <% @reviews.each do |review| %>  
      <li>
        <h3><%= review.reservation.hotel.name %></h3>
        <p><%= review.reservation.hotel.city.name %></p>
        <%# <%= render 'reservations/info_no_links', :reservation => review.reservation %>
        <h4>Review description:</h4>
        <%= review.description %><br>
        <%= link_to 'Show review', review_path(review) %><br><br>
      </li>
    <% end %>
  </ul>
<% end %>