<h1>New Review</h1>
<%= render partial: 'messages/error', locals: { agnostic: @review } %>
<% unless @review.reservation.nil? %>
  <p><%= @review.reservation.hotel.name %><br>
     <%= @review.reservation.hotel.city.code %>
  </p>
  <%= render partial: 'reservations/info_no_links', locals: {reservation: @review.reservation} %><br>
<% end %>
<%= render 'form' %>
<%= link_to "Cancel", reviews_path %>