<%= render partial: 'messages/msg' %>

<h2>Review for:</h2> 
<p>
  <%= @review.reservation.hotel.name %><br>
  <%= @review.reservation.hotel.city.name %><br>
  <%= render partial: 'reservations/info_no_links', locals: {reservation: @review.reservation} %>
</p>

<h3>Review description:</h3>
<%= @review.description %><br><br>

<%= link_to 'Edit review', edit_review_path(@review) %><br>
<%= link_to 'Delete review', @review, method: :delete, data: { confirm: "Are you sure?" } %><br>
<%= link_to 'Back to reviews', reviews_path %>